.team-section{
  &-avatar{
    display: inline-block;
    width: 10vw;
    height: 10vw;
    // background-color: #DFF9FB;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @media screen and (max-width:700px){
      width: 20vw;
      height: 20vw;
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 100%;
    }
  }
}
#logos-carousel{
  img{
    max-width: 100%;
    max-height: 200px;
  }
}