.adversting{
  background-color: #f07d00;
  background-image: url('../assets/img/Группа\ 1.png');
  // height: 600px; 
  
  h1{
    font-size: 100px;
    line-height: 50px;
  }
  h2{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10px;
  }
  p{
    font-size: 16px;
    letter-spacing: 3px;
  }
}