.navbar-light{
    .navbar-nav{

        .active>.nav-link::after{
            width: 10px;
        }
        .nav-link{
            color:rgba(0,0,0,.9);
            font-size: 14px;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: 7px;
                left: 4px;
                // width: 10px;
                width: 0;
                height: 2px;
                background-color: red;
                transition: .5s;
            }
            &:hover{
                color:rgba(0,0,0,.9);
                &::after{
                    width: 80%;
                }
            }
        }
    }
}