.blog-section{
    &-item{
        p{
            font-size: 12px;
        }
        &__date{
            font-size: 11px;
        }
        &__link{
            color: black;
            font-size: 14px;
            display: flex;
            align-items: center;
            &:hover{
                text-decoration: none;
                color: #000;
                &::after{
                    margin-left: 20px;
                }
            }
            &::after{
                content: '';
                margin-left: 7px;
                display: inline-block;
                padding: 7px;
                background-image: url('../assets/img/left-arrow.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transition: .5s;
            }
        }
    }
}